---
layout: base.html
pagination:
  data: collections.post
  alias: posts
  size: 5 
  reverse: true
---

<pre>journal</br>{% include "assets/ascii_art/banner.txt" %}</pre>

<ul>
{% for post in posts %}
  <li >
    <a class="underline" href="{{ post.url }}">[{{ post.date | formatDateMed }}] {{ post.data.title }}</a>
  </li>
{% endfor %}
<ul>

<div class="paginator">
  <
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">Previous</a>
  {% else %}
    Previous
  {% endif %}
  /
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">Next</a>
  {% else %}
    Next
  {% endif %}
  >
</div>
